/* sidebar start*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import url('https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css');
:root {
    --header-height: 3rem;
    /* --nav-width: ; */
    --first-color: #697B54;
    --first-color-light: #f5ffa8;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}

*,
::before,
::after {
    box-sizing: border-box
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s
}

a {
    text-decoration: none
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: .5s;
    box-shadow: 0 2px 5px rgba(88, 88, 88, 0.201);
}

.header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer
}

.header_prof {
    width: fit-content;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: var(--white-color);
    background-color: var(--first-color);
    overflow: hidden;
    margin-right: 1rem;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(88, 88, 88, 0.201);
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    border: 1px;
    border-radius: 0 30px 30px 0;
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding-right: 1rem;
}

.side-nav {
    margin-right: 2rem; 
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem
}

.nav_logo {
    margin-bottom: 2rem
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color)
}

.nav_logo-name {
    color: var(--white-color);
    font-weight: 700
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s
}

.nav_link:hover {
    color: var(--white-color)
}

.nav_icon {
    font-size: 1.25rem
}

.show {
    left: 0
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem)
}

.active {
    color: var(--white-color)
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color)
}

.height-100 {
    height: 100vh
}

@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem)
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }

    .header_prof {
        width: auto;
        height: 40px
    }

    .header_img img {
        width: 45px
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0
    }

    .show {
        width: calc(var(--nav-width) + 156px)
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 188px)
    }
}
/* sidebar navigtion end */

body {
    min-height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url('1.png');
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
}

.col-md-8 {
    width: 100%;
    height: 100%;
}

/* login form */
.card-login {
    margin-top: 60px;
    width: 40%;
    height: auto;
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(88, 88, 88, 0.201);
    background-color: #d9d9d9;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.card-login .card-header {
    color: #697B54;
    text-align: center;
    font-size: 36px;
    width: 100%;
    border-bottom: 2px;
    box-shadow: 0 5px 5px -5px rgba(88, 88, 88, 0.201);
    padding: 10px 0;
}

.card-body {
    padding: 20px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

/* form labels
.col-form-label {
    font-weight: bold;
} */

/* form input fields */
.form-control-login {
    border: 1px solid #ced4da;
    padding: .375rem .75rem;
    font-size: 1rem;
    width: 300px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(88, 88, 88, 0.201);
    box-sizing: border-box;
}


/* for invalid input fields */
.is-invalid {
    border-color: #dc3545 !important;
}

/* error messages */
.text-danger {
    font-size: 0.875rem;
    color: #dc3545;
    text-align: center;
}

/* login button */
.btn-primary {
    width: 40%;
    height: 50px;
    padding: 10px;
    background-color: #697B54;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 10px;
    display: block;
    text-align: center;
    box-shadow: 0 2px 5px rgba(88, 88, 88, 0.201);
}

.btn-primary:hover {
    background-color: #a98d00;
    border: #697B54 solid 10px;
    padding: 10px;
    color: white;
    border: none;
}

.text-center .link-text {
    color: #697B54;
    cursor: pointer;
    text-decoration: underline;
}

.dashboard-container {
    width: 100%;
    height: 700px;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(88, 88, 88, 0.201);
    background-color: white;
    box-sizing: border-box;
}

.dashboard-header {
    color: #697B54;
    text-align: center;
    font-size: 36px;
    width: 100%;
    border-bottom: 2px;
    box-shadow: 0 5px 5px -5px rgba(88, 88, 88, 0.201);
    padding: 10px 0;
}